<div class="modal fade" id="addCardModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Card</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeFormModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="showAlert">
          {{ errorMessage }}
        </div>
        <form [formGroup]="cardData">
          <div class="form-group">
            <div id="card-input">
              <label for="cardNumber">Enter Debit/Credit Card Number</label>
              <img [src]="imgSrc" />
              <input
                type="tel"
                class="form-control"
                [class]="{
                  'is-invalid':
                    cardData.controls['cardNumber'].dirty &&
                    cardData.controls['cardNumber'].errors &&
                    cardData.controls['cardNumber'].errors.ccNumber
                }"
                formControlName="cardNumber"
                placeholder="Enter Debit/Credit Card Number"
                maxlength="19"
                #ccNumber="ccNumber"
                ccNumber
                required
              />
            </div>

            <span
              class="text-danger"
              *ngIf="
                cardData.controls['cardNumber'].dirty &&
                cardData.controls['cardNumber'].errors &&
                cardData.controls['cardNumber'].errors.ccNumber
              "
              >Invalid Card Number</span
            >
          </div>
          <div class="form-group row">
            <div class="col-md-4 col-6">
              <label for="expiryMonth">Expiry Month</label>
              <select
                class="form-control"
                [class]="{ 'is-invalid': !isDateValid }"
                formControlName="expiryMonth"
                (change)="expiryDateValidation()"
                required
              >
                <option value="" disabled selected hidden>MM</option>
                <option *ngFor="let month of expiryDateObj.months">{{
                  month
                }}</option>
              </select>
            </div>
            <div class="col-md-4 col-6">
              <label for="expiryYear">Expiry Year</label>
              <select
                class="form-control"
                [class]="{ 'is-invalid': !isDateValid }"
                formControlName="expiryYear"
                (change)="expiryDateValidation()"
                required
              >
                <option value="" disabled selected hidden>YYYY</option>
                <option *ngFor="let year of expiryDateObj.years">{{
                  year
                }}</option>
              </select>
            </div>
            <div class="col-md-4 col-6">
              <div id="cvv-container">
                <label for="cvv">CVV</label>
                <i class="fa fa-2x fa-credit-card"></i>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="cvv"
                  minlength="3"
                  maxlength="3"
                  appAcceptNumber
                  required
                />
              </div>
            </div>
          </div>
          <span class="text-danger" *ngIf="!isDateValid">Card is expired</span>
        </form>
      </div>
      <div class="modal-footer" style="justify-content: flex-start;">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          [class]="{ 'cursor-disabled': !cardData.valid }"
          [disabled]="!cardData.valid"
          (click)="submitCardDetails()"
        >
          Add Card
        </button>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  data-toggle="modal"
  data-target="#addCardModal"
  data-backdrop="static"
  data-keyboard="false"
  style="visibility: hidden;"
  #modalButton
></button>

<ngx-spinner></ngx-spinner>
