#card-input {
  position: relative;
}

#card-input i {
  position: absolute;
  top: 50%;
  right: 5px;
}

#card-input img {
  position: absolute;
  height: 45%;
  top: 50%;
  right: 5px;
}

.is-invalid {
  background-image: none;
}

#cvv-container {
  position: relative;
}

#cvv-container i {
  position: absolute;
  top: 50%;
  right: 5px;
}
