<div class="card-list container">
  <div class="alert alert-danger" role="alert" *ngIf="showAlert">
    {{errorMessage}}
  </div>
  <button
    type="button"
    class="btn btn-lg btn-primary mb-2"
    (click)="showModal()"
  >
    Add New Card
  </button>
  <ng-container
    *ngIf="cardLists && cardLists.length; then showCardList; else showNoCard"
  ></ng-container>
  <ng-template #showCardList>
    <div class="row mb-2" *ngFor="let card of cardLists">
      <div class="col-md-9 col-12">
        <div class="card">
          <div class="card-body card-padding">
            <div class="card-detail">
              <img [src]="cardSrc[card.cardType]" />
              <label>Credit/Debit Card Number</label>
              <h6>{{ card.cardNumber | maskCardNo: card.gaps }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <button
          type="button"
          class="btn btn-lg btn-outline-primary remove-button"
          (click)="removeCard(card._id)"
        >
          Remove
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #showNoCard>
    <h4 class="heading-color text-center">No Saved Cards</h4>
  </ng-template>
</div>
<app-add-card (cardAdded)="getCardList()"></app-add-card>

<!-- ----------------Confirm Dialog------------------- -->

<div class="modal fade" id="confirmDialog" #confirmDialog>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pb-0" id="header-edit-border">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="dialogModalClosed()"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5>Are you sure you want to delete this card?</h5>
      </div>
      <div
        class="modal-footer"
        id="footer-edit-border"
        style="justify-content: center;"
      >
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmClicked$.next(true)"
        >
          OK
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          data-dismiss="modal"
          (click)="dialogModalClosed()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  data-toggle="modal"
  data-target="#confirmDialog"
  data-backdrop="static"
  data-keyboard="false"
  style="visibility: hidden;"
  #confirmDialogModalButton
></button>

<ngx-spinner></ngx-spinner>
