.remove-button {
  width: 100%;
  /* padding: 7% */
}

.card-list label {
  font-size: 0.8rem;
}

.card-padding {
  padding: 0.7rem;
}

.card-detail {
  position: relative;
}

.card-detail img {
  position: absolute;
  height: 60%;
  right: 0;
}

.heading-color{
  color: #99AAAB;
}

#header-edit-border {
  border-bottom: 0 !important;
}

#footer-edit-border {
  border-top: 0 !important;
}
