<nav class="navbar bg-light">
  <a class="navbar-brand"><img src="assets/logo.svg" height="30" width="41"/></a>
  <div class="filter">
      <select class="form-control" (change)="filterCardList($event.target.value)" #cardFilter>
          <option value="all">All</option>
          <option value="visa">Visa</option>
          <option value="mastercard">Master Card</option>
          <option value="amex">American Express</option>
      </select>
  </div>
</nav>
