<app-header></app-header>
<div  id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-12 offset-md-3">
      <h3>My Saved Cards</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 offset-md-3">
      <div class="card">
        <div class="card-body">
          <app-cards></app-cards>
        </div>
      </div>
    </div>
  </div>
</div>